@media screen and (min-width: 768px) {
    .footer-content {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }

    .footer-logo img {
        width: 10rem;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-hours {
        flex-basis: 100%;
        text-align: center;
    }

    .footer-contact,
    .footer-address {
        flex-basis: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }

    .footer h3 {
        font-size: 18px;
    }

    .footer-logo img {
        width: 10rem; 
        margin-bottom: 3rem;
    }

    .footer-ads {
        padding: 20px 0;
    }
}

.footer {
    background-color: #333;
    padding: 60px 0;
    color: #fff;
}

.footer-contact,
.footer-address,
.footer-hours,
.footer-map {
    flex-basis: calc(25% - 20px);
}

.footer h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer p {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer a {
    color: #67bb44;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

/* Стилі для карти Google Maps */
.footer-map iframe {
    width: 100%;
    height: 300px;
    border: none;
}

.footer-ads {
    background-color: #333;
    padding: 13px 0;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.footer-ads a {
    text-decoration: none;
    color: #a2a2a2;
    font-weight: bold;
    transition: color 0.3s ease;
}

.footer-ads a:hover {
    color: #62a047;
}