img[src="./images/arrow-icon-white.png"] {
    display: none;
}

@media only screen and (min-width: 768px) {
    img[src="./images/arrow-icon-white.png"] {
        display: inline; /* Показуєте значки знову */
    }

    .image-block {
        background-color: #fff;
        padding: 12px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        width: 256px;
    }
    
    .image-content img {
        max-width: 96%;
        display: block;
        margin: 0 auto;
    }

    .products {
        width: 256px;
    }

    .product {
        background-color: #000;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    
        cursor: pointer;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* Загальні стилі для всіх пристроїв */
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url('../images/main.jpg');
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: left;
    height: 100vh;
}

hr {
    border: none;
    margin: 20px 0;
}

.product-buttons ul.brickList li img {
    vertical-align: middle;
    float: right;
    margin-right: 10px;
}

.main {
    padding: 20px;
}

.product h2 {
    font-size: 1.3em;
    color: #fff;
}

.hidden {
    display: none;
}

.product p {
    font-size: 16px;
    color: #666;
}

.product-buttons {
    margin-top: 10px;
}

.product-buttons button {
    width: 100%;
    background-color: #363636;
    color: #ececec;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-buttons button.active {
    background-color: #67bb44;
    color: #fff;
    box-shadow: 0 0 4px #000000e1;
}

.product-buttons button:hover {
    background-color: #67bb44; 
    color: #fff;
}

.product-buttons button:hover {
    transform: translateY(-3px);
    transition: transform 0.2s ease;
}

.slide {
    max-width: 100%;
    max-height: 70%;
    display: none;
    transition: opacity 1.5s; 
}

ul.brickList {
    list-style-type: none;
}

ul.brickList li {
    padding: 8px 0 8px 8px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 18px;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.brickList h4 {
    color: #e6e6e6;
}

ul.brickList li:hover {
    background-color: #67bb44;
    color: #fff;
    border-radius: 4px;

    box-shadow: 0 0 3px #000000e1;
}

.container-product-buttons {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.6s ease, opacity 1.3s ease;
}
  
.container-product-buttons.open {
    max-height: 1000px;
    opacity: 1;
}

.product-header ::after {
  content: "";
  background: url('../images/arrow-icon-white.png') no-repeat;
  background-size: 20px 20px; 
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
